@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');


html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body{
    background-image: linear-gradient(to left, rgb(10, 22, 48), rgb(3, 32, 88));
    padding-top: 70px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

}

li, a, button, td{
   font-family: "Montserrat", sans-serif; 
   font-weight: 500;
   font-size: 14px;
   color: white;
   text-decoration: none;
}

button:focus{
    outline: none;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 14px 18% 4px 18%;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background-image: linear-gradient(to right, rgba(15, 40, 94, 0.76), rgba(0, 40, 121, 0.788));
    backdrop-filter: blur(20px);
    box-shadow: 0px -2px 6px rgb(5, 5, 5);
    min-height: 70px;
    z-index: 9999;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252,223,89, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    margin-top: 2px;
    margin-bottom: 0px;
    
  }
  
.custom-toggler .navbar-toggler {
    border-color: rgb(252,223,89);
} 

.navbar{
    flex-direction: column;
    padding: 0px;
    margin-top: -4px;
    margin-bottom: 4px;
}

.navbar-collapse {
    margin-top: 16px;
    max-height: 0;
    transition: max-height 0.2s ease-in-out, transform 0.3s ease-in-out;  
    transform: translateZ(0);
}

.navbar-collapse.show {
    margin-top: 0px;
    margin-bottom: -2px;
    max-height: 100vh; 
    overflow: hidden; 
}


.nav-links {
    position: relative;
    z-index: 1;
}

.nav-list{
    margin-top: 10px;
}


.logo{
    width: 120px;
    margin-top: -8px;
}



.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    display: inline-block;
    padding: 0px 20px;
    transition: all 0.3s ease-in-out 0.1s;
}

.nav-links li a:hover{
    color: rgb(252,223,89);
}

.contactButton, .email-button{
    padding: 10px 24px;
    color: rgb(22,47,101);
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(229,156,60),rgb(232,175,48), rgb(252,223,89));
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.contactButton:hover, .email-button:hover{
    box-shadow: 0px 2px 6px rgb(31, 30, 30);
    background-image: linear-gradient(to bottom right, rgb(229,156,60),rgb(232,175,48), rgb(252,223,89));
    color: rgb(31,43,55);
    
}

.contactButton:active{
    margin-bottom: -8px;
}

.intro{
    display: flex;
    align-items: center;
    position: absolute;
    top: 30%;
    width: 1000;
    
}

.intro-content{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    z-index: 1;
    margin-right: 100px;
}


.greeting{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.61);
}

.wave{
    width: 40px;
    margin-top: -5px;
    margin-left: 4px;
}

.intro-name{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 56px;
}

.gradient-text{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background: linear-gradient(to right, rgb(229,156,60),rgb(232,175,48), rgb(252,223,89));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}



.intro-title{
    margin-top: 5px;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 12px;
}

.socials{
    display: flex;
    align-items: center;
}

.icon-size{
    height: 30px;
    margin-right: 16px;
    transition: ease-in-out 0.15s;
}

.icon-size:hover, .contact-icon:hover{
    height: 36px;
    margin-top: -5px;
    cursor: pointer;
}


.portrait-size{
    height: 400px;
    margin-left: 150px;
}

.about-anchor{
    position: absolute;
    top: 75%;
}


.about-me{
    position: absolute;
    top: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.about-me-title{
    position: absolute;
    text-align: center;
    font-size: 42px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: rgb(252,223,89);
    text-shadow: 0 2px 4px rgb(12, 12, 12);
    z-index: 1;
    margin-top: -30px;
    width: 300px;
}


.about-me-main{
    display: flex;
    align-items: center;
    position: absolute;
    top: 107%;
    width: 1000px;
    background-image: linear-gradient(to right, rgba(15, 40, 94, 0.466), rgba(0, 40, 121, 0.562));   
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(36, 36, 36);
}

.face{
    width: 250px;
    margin-top: 25px;
}

.about-me-paragraph{
    position: relative;
    display: flex;
    font-family: "Montserrat", sans-serif;
    margin: 0px 24px 24px 24px;
    font-size: 18px;
    color: white;
    line-height: 2;
}

.skills-anchor-point{
    position: absolute;
    top: 165%;
    left: 47.8%;
}

.skills{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 180%;
}

.skills-title{
    position: relative;
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: rgb(252,223,89);
    text-shadow: 0 2px 4px rgb(12, 12, 12);
    z-index: 1;
}

.skills-main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 170%;
    width: 1000px;
    padding: 0;
    /*background-image: linear-gradient(to right, rgba(15, 40, 94, 0.76), rgba(0, 40, 121, 0.788));
    border: 1px solid rgba(255, 241, 51, 0.158);    
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(36, 36, 36);*/
}

.skills-logo{

    width: 180px;
    margin: 65px 65px 65px 65px;
    transition: ease-in-out 0.3s;
    
}

.skills-logo:hover{
    margin-top: -10px;
}

.js-logo{
    width: 255px;
    margin: 20px 30px 30px 30px;
    transition: ease-in-out 0.15s;
}

.js-logo:hover{
    margin-top: -50px;
}

.python-logo{
    width: 180px;
    margin: 65px 65px 65px 65px;
    transition: ease-in-out 0.15s;
}

.python-logo:hover{
    margin-top: -10px;
}

.hobbies-anchor-point{
    position: absolute;
    top: 250%;
    left: 47.8%;
}

.hobbies{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 280%;
}


.hobbies-title{
    position: relative;
    margin-bottom: -25px;
    font-size: 42px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: rgb(252,223,89);
    text-shadow: 0 2px 4px rgb(12, 12, 12);
    z-index: 1;
}

.hobbies-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 600px;
    height: 350px;
    background-image: linear-gradient(to right, rgba(15, 40, 94, 0.466), rgba(0, 40, 121, 0.562));   
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(36, 36, 36);
    padding: 16px;
}


.projects-anchor-point{
    position: absolute;
    top: 325%;
}

.projects{
    position: absolute;
    top: 345%;
}

.projects-main{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    position: relative; 
    width: 1000px;
    height: 520px;
    
}

.carousel-inner{
    width: 400px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.973);
    z-index: 1;
}

#carouselExampleControls .carousel-control-prev, 
#carouselExampleControls .carousel-control-next {
    background-color: transparent;
    border: none;
    color: transparent; 
}

.projects-title{
    /*
    margin-left: 220px;
    margin-right: 100px;
    */
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: rgb(252,223,89);
    text-shadow: 0 2px 4px rgb(12, 12, 12);
    z-index: 1;
}

.project-cards{
    display: flex;
    align-items: center;
}

.projects-card{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(31, 43, 55, 0.37);
    width: 400px;
    height: 450px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.973);
    border-radius: 0px 0px 8px 8px;
    transition: ease-in-out 0.15s;
}

/*.projects-card:hover{
    margin-top: -8px;
}*/

.carousel-control-next, .carousel-control-prev{

}

.img-holder{
    margin-top: 24px;
    width: 280px;
}

.desc-holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 0px;
    width: 225px;
    flex: 1;
    
}

.card-title{
    color: rgb(247,239,135);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0px;
    text-align: center;
}

.card-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.card-desc{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin-top: 14px;
    color: white;
    text-align: center;
    line-height: 2;
}

.lang-holder{
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 14px;
    width: 225px;
    flex: 0.4;
}

.lang-text{
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    color: rgb(247,239,135);
    line-height: 2;
    text-align: center;
    transition: ease-in-out 0.15s;
    cursor: pointer;
    margin-bottom: 26px;
}

.lang-text:hover{
    font-weight: bold;

}

.contact-anchor-point{
    position: absolute;
    top: 400%;
}

.contact{
    position: absolute;
    top: 425%;
    margin-bottom: 100px;
}


.contact-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-height: 80vh;
    /*background-image: linear-gradient(to right, rgba(15, 40, 94, 0.76), rgba(0, 40, 121, 0.788));
    border: 1px solid rgba(255, 241, 51, 0.158);    
    border-radius: 8px;
    box-shadow: 0 2px 8px rgb(36, 36, 36);*/
}

.contact-title{
    color: rgb(253, 242, 78);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0px;
}

.contact-sub{
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.email-input{
    padding: 10px 12px;
    border-radius: 8px;
    border: none;
    margin: 8px;
    width: 300px;
}

.email-button{
    width: 300px;
    background-color: rgb(255, 173, 65);
    border: none;
    margin: 12px;
    padding: 10px 12px;
    border-radius: 8px;
}

.email-button:active{
    width: 280px;
}

.contact-socials{
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    column-gap: 40px;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.contact-icon{
    height: 30px;
    transition: ease-in-out 0.15s;
}

.icon-buttons{
    background-color: transparent;
    border: none;
    padding: 0px;
    margin: 0px;
}


.email-sub{
    font-family: "Montserrat", sans-serif;
    color: white;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 200px;
}


.floatingToggle{
    background-color: transparent;
    border: none;
    position: fixed;
    bottom: 40px;
    right: 200px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}

.brightness{
    width: 75px;
    transition: ease-in 0.15s;
}

.brightness:hover{
    width: 85px;
    
}

.light-mode-body, 
.light-mode-header {
    background-image: linear-gradient(to left, rgb(27, 42, 80), rgb(6, 49, 134));
}

td{
    font-size: 24px;
}




@media (max-width: 1100px) {
    
    header{
        justify-content: center;
    }

    .intro {
        flex-direction: column;
        flex-wrap: wrap;
        top: 15%;
    }

    

    .intro-content{
        align-items: center;
        margin-right: 0px;
        text-align: center;
        margin-bottom: 30px;
    }

    .portrait-size{
        margin-left: 0px;
    }

    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-anchor{
        top: 95%;
    }

    .about-me-main{
        flex-direction: column;
        flex-wrap: wrap;
        width: 650px;
    }

    .about-me-paragraph{
        text-align: center;
    }


    .skills-anchor-point{
        top: 190%;
    }

    .skills{
        top: 200%;
    }

    .skills-main{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 170%;
        width: 800px;
        padding: 0;
    }


    .hobbies-anchor-point{
        top: 300%;
    }

    .hobbies{
        top: 330%;
        width: 400px;
    }

    .projects-anchor-point{
        top: 390%;
    }


    .projects{
        top: 420%;
    }
    
    .projects-main{
        flex-direction: column;
        align-items: center;
    }

    .projects-title{
        margin-left: 50px;
    }

    .contact-anchor-point{
        top: 510%;
    }


    .contact{
        top: 520%;
    }

    .floatingToggle{
        background-color: transparent;
        border: none;
        position: fixed;
        bottom: 40px;
        right: 75px;
        cursor: pointer;
        padding: 0px;
        margin: 0px;
    }
}

@media (max-width: 650px) {
    .intro {
        flex-direction: column;
        flex-wrap: wrap;
        top: 15%;
    }


    .intro-content{
        align-items: center;
        margin-right: 0px;
        text-align: center;
        margin-bottom: 30px;
    }

    .portrait-size{
        margin-left: 0px;
    }

    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-anchor{
        top: 95%;
    }

    .about-me-main{
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
    }

    .about-me-paragraph{
        text-align: center;
    }


    .skills-anchor-point{
        top: 190%;
    }

    .skills{
        top: 200%;
    }

    .skills-main{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 170%;
        width: 800px;
        padding: 0;
    }


    .hobbies-anchor-point{
        top: 300%;
    }

    .hobbies{
        top: 330%;
        width: 400px;
    }


    .projects-anchor-point{
        top: 390%;
    }


    .projects{
        top: 420%;
    }
    
    .projects-main{
        flex-direction: column;
        align-items: center;
    }

    .projects-title{
        margin-left: 50px;
    }

    .contact-anchor-point{
        top: 510%;
    }


    .contact{
        top: 520%;
    }

    .email-input, .email-button{
        width: 200px;
    }

    .contact-socials{
        column-gap: 20px;
    }

    .email-button:active{
        width: 180px;
    }

    .floatingToggle{
        background-color: transparent;
        border: none;
        position: fixed;
        bottom: 40px;
        right: 50px;
        cursor: pointer;
        padding: 0px;
        margin: 0px;
        z-index: 2;
    }
    

@media (max-height: 800px), (max-width: 650px) {
    .intro {
        flex-direction: column;
        flex-wrap: wrap;
        top: 15%;
    }


    .intro-content{
        align-items: center;
        margin-right: 0px;
        text-align: center;
        margin-bottom: 30px;
    }

    .portrait-size{
        margin-left: 0px;
    }

    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-anchor{
        top: 95%;
    }

    .about-me-main{
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
    }

    .about-me-paragraph{
        text-align: center;
    }


    .skills-anchor-point{
        top: 235%;
    }

    .skills{
        top: 250%;
    }

    .skills-main{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 170%;
        width: 500px;
        padding: 0;
    }


    .hobbies-anchor-point{
        top: 500%;
    }

    .hobbies{
        top: 520%;
       
    }

    .hobbies-main{
        width: 400px;
    }

    td{
        font-size: 20px;
    }

    .projects-anchor-point{
        top: 570%;
    }


    .projects{
        top: 610%;
    }
    
    .projects-main{
        flex-direction: column;
        align-items: center;
    }

    .projects-title{
        margin-left: 50px;
    }

    .contact-anchor-point{
        top: 700%;
    }


    .contact{
        top: 720%;
    }

    .email-input, .email-button{
        width: 200px;
    }

    .contact-socials{
        column-gap: 20px;
    }

    .email-button:active{
        width: 180px;
    }

    .floatingToggle{
        background-color: transparent;
        border: none;
        position: fixed;
        bottom: 40px;
        right: 50px;
        cursor: pointer;
        padding: 0px;
        margin: 0px;
        z-index: 2;
    }
        
}
}

@media (max-height: 600px) {
    .intro {
        flex-direction: column;
        flex-wrap: wrap;
        top: 15%;
    }


    .intro-content{
        align-items: center;
        margin-right: 0px;
        text-align: center;
        margin-bottom: 30px;
    }

    .portrait-size{
        margin-left: 0px;
    }

    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 170%;
    }

    .about-anchor{
        top: 120%;
    }

    .about-me-main{
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
    }

    .about-me-paragraph{
        text-align: center;
    }


    .skills-anchor-point{
        top: 265%;
    }

    .skills{
        top: 280%;
    }

    .skills-main{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 170%;
        width: 500px;
        padding: 0;
    }


    .hobbies-anchor-point{
        top: 600%;
    }

    .hobbies{
        top: 620%;
        width: 400px;
    }

    .projects-anchor-point{
        top: 690%;
    }


    .projects{
        top: 740%;
    }
    
    .projects-main{
        flex-direction: column;
        align-items: center;
    }

    .projects-title{
        margin-left: 50px;
    }

    .contact-anchor-point{
        top: 880%;
    }


    .contact{
        top: 890%;
    }

    .email-input, .email-button{
        width: 200px;
    }

    .contact-socials{
        column-gap: 20px;
    }

    .email-button:active{
        width: 180px;
    }

    .floatingToggle{
        background-color: transparent;
        border: none;
        position: fixed;
        bottom: 40px;
        right: 50px;
        cursor: pointer;
        padding: 0px;
        margin: 0px;
        z-index: 2;
    }
    
}

@media (max-height: 450px) {
    .intro {
        flex-direction: column;
        flex-wrap: wrap;
        top: 15%;
    }


    .intro-content{
        align-items: center;
        margin-right: 0px;
        text-align: center;
        margin-bottom: 30px;
    }

    .portrait-size{
        margin-left: 0px;
    }

    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 220%;
    }

    .about-anchor{
        top: 200%;
    }

    .about-me-main{
        flex-direction: column;
        flex-wrap: wrap;
        width: 300px;
    }

    .about-me-paragraph{
        text-align: center;
    }


    .skills-anchor-point{
        top: 390%;
    }

    .skills{
        top: 410%;
    }

    .skills-main{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 170%;
        width: 500px;
        padding: 0;
    }


    .hobbies-anchor-point{
        top: 860%;
    }

    .hobbies{
        top: 880%;
        width: 400px;
    }

    .projects-anchor-point{
        top: 1030%;
    }


    .projects{
        top: 1050%;
    }
    
    .projects-main{
        flex-direction: column;
        align-items: center;
    }

    .projects-title{
        margin-left: 50px;
    }

    .contact-anchor-point{
        top: 1260%;
    }


    .contact{
        top: 1280%;
    }

    .email-input, .email-button{
        width: 200px;
    }

    .contact-socials{
        column-gap: 20px;
    }

    .email-button:active{
        width: 180px;
    }

    .floatingToggle{
        background-color: transparent;
        border: none;
        position: fixed;
        bottom: 40px;
        right: 50px;
        cursor: pointer;
        padding: 0px;
        margin: 0px;
        z-index: 2;
    }
    
}



